<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis="http://www.mybatis.org/schema/mybatis"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context.xsd  
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 数据库配置文件 -->
	<context:property-placeholder location="classpath:config.properties" />

	<bean class="org.codehaus.jackson.map.ObjectMapper" >
		<property name="serializationInclusion">
			<value type="org.codehaus.jackson.map.annotate.JsonSerialize$Inclusion">NON_NULL</value>
		</property>
	</bean>
	
	<context:component-scan base-package="com.novel.cms.dao.impl"></context:component-scan>
	
	<context:component-scan base-package="com.novel.cms.service.impl"></context:component-scan>

</beans>