* {
	padding: 0;
	margin: 0;
}

.content > form >textarea {
	margin-top: 20px;
	margin-left: 7px;
	height: 180px;
	width: 96%;
}

.content > form >input , .content > form >button {
	margin-top: 2%;
	margin-left: 7px;
	width: 96%;
}